.wrapper{

    display: flex;
    flex-wrap: wrap;
   gap: 30px;
    margin: 0 auto;
    text-align: center;
}
body{
    background-color: rgba(0, 0, 0, 0.17);
}
.box{
    width: 240px;
    height: 250px;
    border: none;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}
input{
    width: 40px;
    height: 25px;
}
img{
    width:100%;
    height: 78%;
    text-align: center;
}
span{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: black;
    padding: 5px 5px;
    color: white;
    border-radius: 5px;
}
h4{
    margin-top: -10px;
    margin-bottom: 8px;
}
button{
    width: 160px;
    height: 31px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 3px;
}
@media (max-width:500px) {
    .wrapper{

        flex-direction: column;
        align-items: center;
    
    }
}

