
.square{
    margin: 0 auto;
    height: 400px;
    padding: 15px;
    text-align: center;
    position: relative;
    transition: 1s;
}
input{
    width: 500px;
    outline: none;
    height: 20px;
    margin-top: 300px;
    border: none;
    border-bottom: 1px solid;
}   
span{
    position: absolute;
    bottom: 30px;
    left: 290px;
}
input:focus + label span,
input:valid + label span{
    transform: translateY(-20px);
    color: blue;
}


